# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\spring_boot\spring-microservices\Driven_Menu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
