


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    form {
        background-color: white;
        width: 250px;
        height: 100%;
        border-style: solid;
        border-color: black;
        padding: 20px;
        margin-left: 250px;
        margin-top: 50px;

    }


</style>
<body>
<!--ction="/dep" method="post"-->
      <div>
          <form method="post" th:action="@{/dep}">
              <div><input type="text" name="firstName" placeholder="First Name"   value=""><br><br></div>
              <div><input type="text" name="lastName" placeholder="Last Name" value=""><br><br></div>
              <div>Gender</div>
              <div><select name="Gender" placeholder="Gender"><option>Male<option>Female<option>Other</option></select><br/><br></div>
              <div>Date of Birth:</div>
              <div> <input type="date" name="dob" placeholder="DOB" value=""><br><br></div>
              <div><input type="text" name="relationship"  placeholder="Relationship" value=""><br><br></div>
              <div><input type="submit" value="Next" style="background-color: deepskyblue"></div>

          </form>
      </div>

</body>
</html>