<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- First Name, Last Name, Employment ID, Start Date, Designation, Department, End
//    date, Status, DOB, Reporting Manager, gender, blood group, address
-->

<div>
    <form>

        <div><input type="text" name="firstName" placeholder="First Name" value=""><br><br></div>
        <div><input type="text" name="lastName" placeholder="Last Name" value=""><br><br></div>
        <div> <input type="text" name="employmentID" placeholder="Employment ID" value=""><br><br></div>
        <div>Start date:</div>
        <div> <input type="date" name="startDate" placeholder="Start date" value=""><br><br></div>
        <div> <input type="text" name="designation" placeholder="Designation" value=""><br><br></div>
        <div> <input type="text" name="department" placeholder="Department" value=""><br><br></div>
        <div>End Date</div>
        <div> <input type="date" name="endDate" placeholder="End Date" value=""><br><br></div>
        <div> <input type="text" name="status" placeholder="Status" value=""><br><br></div>
        <div>Date of Birth:</div>
        <div> <input type="date" name="dob" placeholder="DOB" value=""><br><br></div>
        <div> <input type="text" name=" reportingManager" placeholder=" Reporting Manager" value=""><br><br></div>
        <div>Gender</div>
        <div><select name="Gender" placeholder="Gender"><option>Male<option>Female</select><br/><br></div>
        <div> <input type="text" name="lastName" placeholder="Last Name" value=""><br><br></div>
        <div> <input type="text" name="lastName" placeholder="Last Name" value=""><br><br></div>




    </form>
</div>

</body>
</html>