<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    form {
        background-color: white;
        width: 400px;
        height: 100%;
        border-style: solid;
        border-color: black;
        padding: 20px;
        margin-left: 250px;
        margin-top: 50px;

    }
</style>
<body>
<div>
    <form>
<!--        //    Type, Start Date, End Date, Type, Institution, Address, Percentage-->
        <div><input type="text" name="type" placeholder="Type" size="50" value=""><br><br></div>
        <div>Start date:<span style="padding-left:85px">End Date:</span> </div>
        <div> <input type="date" name="startDate" placeholder="Start date" value="">
            <input type="date" name="endDate" placeholder="End Date" value=""><br><br></div>
        <div><input type="text" name="institution" placeholder="Institution"  size="50" value=""><br><br></div>
        <div><input type="" address="type" placeholder="Address" size="50" value=""><br><br></div>
        <div><input type="number" placeholder="Percentage"   value=""><br><br></div>
        <div><input type="submit" value="Sumbit" style="background-color: deepskyblue"></div>

    </form>

</div>

</body>
</html>